$mainColor: #15023a;
$secColor: rgb(169, 117, 236);
$mainTransition: all 0.25s ease;

$height: 550px;
$width: 768px;

@mixin slim {
	@media (max-height: #{$height}) and (min-width: #{$width}) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$width}) {
		@content;
	}
}
