<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='main.css') }}">
    {% if title %}
        <title>Andreas Petersen - {{ title }}</title>
    {% else %}
        <title>Andreas Petersen</title>
    {% endif %}
</head>
<body>
    <div class="background">
        <div class="water">
            <svg>
                <filter id="turbulence" x="0" y="0" width="100%" height="100%">
                    <feTurbulence id="sea-filter" numOctaves="3" seed="2" baseFrequency="0.02 0.05"></feTurbulence>
                    <feDisplacementMap scale="20" in="SourceGraphic"></feDisplacementMap>
                    <animate xlink:href="#sea-filter" attributeName="baseFrequency" dur="60s" keyTimes="0;0.5;1" values="0.02 0.06;0.04 0.08;0.02 0.06" repeatCount="indefinite"/>
                </filter>
            </svg>
        </div>
    </div>
    


    {% block content %}{% endblock %}
</body>
</html>