{% extends "header.html" %}
{% block content %}
<!-- *sidepanel--------------------------------------------------------------------- -->
<div class="sidepanel">
    <div class="name">
        <p id="firstname">Andreas</p>
        <p id="lastname">Petersen</p>
    </div>
    <div class="search">
        <button></button>
        <input type="text" placeholder="Search here...">
    </div>
    <div class="splash-info">
        <div class="career-title"></div>
        <div id="sidepanel-line"></div>
        <div class="cur-proj">
            <!-- TODO: jinja to get current project from GitHub -->
        </div>
    </div>
    <button id="prog-lang"></button>
    <div class="prog-lang">
        <!-- TODO: jinja to go through projects and count number of projects in each lang -->
        <!-- !Open list of projects when click on a lang -->
    </div>
    <div class="social">
        <div id="linkedin"></div>
        <div id="github"></div>
        <div id="facebook"></div>
        <div id="twitter"></div>
    </div>
</div>
<!-- *home--------------------------------------------------------------------- -->
<div class="home">
    <div class="info-box">
        <div class="year">
            <!-- TODO: jinja to get current year -->
        </div>
        <div id="info-box-line"></div>
        <div class="info-text">
            Veniam nulla labore commodo adipisicing qui sint anim. Dolor nisi cupidatat exercitation nostrud non magna qui nisi veniam quis cupidatat aliqua commodo. Excepteur esse labore nulla ut cupidatat ipsum cillum incididunt non. Id deserunt reprehenderit nisi magna.
        </div>
    </div>
    <!-- TODO: see of you can add something to the buttom og the page -->
</div>
<!-- *about_me--------------------------------------------------------------------- -->

<!-- *projects--------------------------------------------------------------------- -->

<!-- *contact--------------------------------------------------------------------- -->

{% endblock content %}